:root {
  --website-spacing-gap: 120px;
}

* {
  transition: all 0.3s ease; /* Adjust the duration and timing function as needed */
}

body {

    // Extra Large screens ...
    @media (min-width: 1400px) {
      --website-spacing-gap: 350px;
  }
  
  // Large screens ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
      --website-spacing-gap: 350px;
  }
  
  // Large Medium screens ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    --website-spacing-gap: 150px;
  }

  // Medium Medium screens ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    --website-spacing-gap: 150px;
  }

  // Small Medium screens ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
  }

  // Smaller screens ...
  @media (max-width: (576px - 1px)) {
  }
}



@layer blocks {
  .sc-block {
    padding-top: var(--website-spacing-gap);
    padding-bottom: var(--website-spacing-gap);
  }

  .sc-block-mg-top {
    margin-top: var(--website-spacing-gap);
  }
  .sc-block-mg-bot {
    margin-bottom: var(--website-spacing-gap);
  }
  .sc-block-pd-top {
    padding-top: var(--website-spacing-gap);
  }
  .sc-block-pd-bot {
    padding-bottom: var(--website-spacing-gap);
  }
}




@layer blocks {
  
}



