:root {
    --website-theme-light-col-1a: #fff;
    --website-theme-light-xxxx-1: #EDEBF7;
    --website-theme-light-yyyy-1: #5946D9;
    --website-theme-light-yyyy-2: #644FF3;
    --website-theme-light-yyyy-3: #d9caf2;
    --website-theme-light-yyyy-4: #F0EFFB;
    --website-theme-light-col-2a: #FFE500;
    --website-theme-light-col-2b: #8b7d00;
    --website-theme-light-col-2b1: #756900;
    --website-theme-light-col-2d: #959572;
    --website-theme-light-col-2c: #fff7b0;
    --website-theme-light-col-2d: #EAEACE;
    --website-theme-light-col-3a: #010023;
    --website-theme-light-col-3b: #262200;
    --website-theme-light-col-3c: #4A4834;
    --website-theme-light-col-4a: #004ee5;
    --website-theme-light-col-5a: #b31e7f;
    --website-theme-light-col-5b: #e151af;
    --website-theme-light-col-gray-1: #E3E1CC;
    --website-theme-light-col-gray-2: #B0AE9E;
    --website-theme-light-col-gray-3: #aaa;

    --website-theme-light-headings-col: var(--website-theme-light-col-3b);

    --website-theme-light-navbar-collapse-bgcol: var(--website-theme-light-col-2d);


    --website-clr-gray-1: #e6e6e6;
    --website-clr-gray-5: #302E1D;
}

// html[data-theme="light"] {
    body {
        background-color: var(--website-theme-light-xxxx-1);
        color: var(--website-theme-light-col-3c);
    }

    @layer site-carousel {
        .site-carousel {  
            .badge {
                color: var(--website-clr-gray-5);
                background-color: var(--website-clr-gray-1);
            }

            .slick-arrow {
                background-color: var(--website-theme-light-col-2a);
                // font-weight: bold;
                // font-size: 0.8rem;
                // line-height: 0.8rem;
                // background: yellow;
                border: 0;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.20);
            }
        }
    }

    @layer hero {
        .hero {
            color: var(--website-theme-light-col-1a);
            background-color: var(--website-theme-light-col-3a);


            .speech-bubble {
                background-color: var(--website-theme-light-col-2a);

                a {
                    color: var(--website-theme-light-headings-col);
                }

                // Speech bubble pointer
                &::before {
                    border-bottom-color: var(--website-theme-light-col-2a);
                } 
            }
        }
    }

    @layer color-mix {
        .section-theme1, .hero {
            h1, h2, h3 {
                color: var(--website-theme-light-col-1a);
            }
        }
    }

    @layer navbar {
        .navbar {

            &.navbar-masked {
                background-color: var(--website-theme-light-col-3a);
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28200, 200, 200, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
            }
            .navbar-toggler:focus {
                // box-shadow: 0 0 0 #fff;
                box-shadow: 0px 0px 10px white;
            }

            .navbar-brand, .nav-link {
                color: var(--website-theme-light-col-3c);
                
                &:hover, &.active {
                    color: var(--website-theme-light-col-2b1);
                } 
            }

            .nav-item { 
                // separator between links
                &::after { 
                    background-color: var(--website-theme-light-col-gray-3);
                }
            }

            .nav-link {
                &.item-icon-material {
                    color: var(--website-theme-light-col-5a);
 
                    &:hover {
                        color: var(--website-theme-light-col-3b);
                    }
                }
            }


            // Extra Large screens ...
            @media (min-width: 1400px) {
                // border: 10px solid purple;
                --website-theme-light-navbar-collapse-bgcol: var(--website-theme-light-col-1a);
            }
            
            // Large screens ...
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                // border: 10px solid violet;
                --website-theme-light-navbar-collapse-bgcol: var(--website-theme-light-col-1a);
            }
            
            // Large Medium screens ...
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                // border: 10px solid lime;
                --website-theme-light-navbar-collapse-bgcol: var(--website-theme-light-col-1a);
            }

            // Medium Medium screens ...
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                // border: 10px solid blue;
            }

            // Small Medium screens ...
            @media (min-width: 576px) and (max-width: (768px - 1)) {
                // border: 10px solid turquoise;
            }

            // Smaller screens ...
            @media (max-width: (576px - 1px)) {
                // border: 10px solid chocolate;
            }
        }
    }

    @layer section-introduction {
        .section-introduction {
            .card {
                border: 1px solid var(--website-theme-light-yyyy-3);
            }
        }
    }

    @layer section-video-banner {
        .section-video-banner {
            a:not(.btn) {
                color: var(--website-theme-light-col-3b);
                background-color: var(--website-theme-light-col-2c);

                &:hover {
                    color: var(--website-theme-light-col-1a);
                    background-color: var(--website-theme-light-col-2b1);
                }
            }
        }
    }

    @layer section-theme {
        .section-theme1 {
            background-color: var(--website-theme-light-yyyy-1);
            p, ul {
                color: var(--website-theme-light-yyyy-4);
            }

            .card {
                background-color: var(--website-theme-light-yyyy-2);
            }
        }
    }

    @layer buttons {
        .btn-primary, .btn-secondary {
            border-top-width: 3px;
            border-right-width: 0px;
            border-bottom-width: 3px;
            border-left-width: 0px;

            &:hover {
                color: var(--website-theme-light-col-1a);
                background-color: var(--website-theme-light-col-2b);
                border-color: var(--website-theme-light-col-2b);
            }
        }
        .btn-primary {
            color: var(--website-theme-light-col-3a);
            background-color: var(--website-theme-light-col-2a);
            border-color: var(--website-theme-light-col-3a);
        }

        .btn-secondary {
            color: var(--website-theme-light-col-1a);
            background-color: var(--website-theme-light-col-3a);
            border-color: var(--website-theme-light-col-2c); 
        }
    }

    @layer footer {
        .global-footer {
            background-color: var(--website-theme-light-col-1a);

            .copyright {
                color: var(--website-theme-light-col-gray-2);
            }
        }
    }
// }
