:root {
    --website-theme-light-xxxx-0: #fff;
    --website-theme-light-xxxx-1: #EDEBF7;
    --website-theme-light-xxxx-2: #DDDCF2;
    --website-theme-light-xxxx-3: #CCCCF5;

    --website-theme-light-yyyy-0: #010023;
    --website-theme-light-yyyy-1: #323069;
    --website-theme-light-yyyy-2: #3B27BE;
    --website-theme-light-yyyy-3: #4934D5;
    --website-theme-light-yyyy-4: #d9caf2;
    --website-theme-light-yyyy-5: #F0EFFB;
    
    --website-theme-light-wwww-5: #535273;

    --website-theme-light-zzzz-0: #00ff94;
    --website-theme-light-zzzz-1: #00b268;  
}

// html[data-theme="light"] {
    body {
        background-color: var(--website-theme-light-xxxx-1);
        color: var(--website-theme-light-wwww-5);
    }

    @layer color-mix {
        .light-block-txt-col {
            h1, h2, h3, h4, h5, h6 {
                color: var(--website-theme-light-yyyy-1);
            }
            ul, p, a {
                color: var(--website-theme-light-wwww-5);
            }
            a {
                &:hover {
                    text-decoration: none;
                    opacity: 0.5;
                }
            }
        }
    
        .dark-block-txt-col {
            h1, h2, h3, h4, h5, h6 {
                color: var(--website-theme-light-xxxx-2);
            }
            ul, p, a {
                color: var(--website-theme-light-xxxx-3);
            }
        }
    }

    @layer site-carousel {
        .site-carousel {  
            .slick-arrow {
                background-color: var(--website-theme-light-zzzz-0);
                // font-weight: bold;
                // font-size: 0.8rem;
                // line-height: 0.8rem;
                // background: yellow;
                border: 0;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.20);
            }
        }
    }

    @layer hero {
        .hero {
            background-color: var(--website-theme-light-yyyy-0);
        }
    }

    @layer navbar {
        .navbar {

            &.navbar-masked {
                background-color: var(--website-theme-light-yyyy-0);
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28200, 200, 200, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
            }
            .navbar-toggler:focus {
                // box-shadow: 0 0 0 #fff;
                box-shadow: 0px 0px 10px white;
            }

            .navbar-brand, .nav-link {
                // color: var(--website-theme-light-wwww-5);
                
                &:hover, &.active {
                    color: red;
                } 
            }
            .navbar-collapse.collapse.show {
                background-color: var(--website-theme-light-yyyy-2);
            }

            .nav-item { 
                // separator between links
                &::after { 
                    background-color: var(--website-theme-light-yyyy-4);
                }
            }

            .nav-link {
                &.item-icon-material {
                    &:hover {
                        color: var(--website-theme-light-zzzz-0);
                    }
                }
            }


            // Extra Large screens ...
            @media (min-width: 1400px) {
                // border: 10px solid purple;
            }
            
            // Large screens ...
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                // border: 10px solid violet;
            }
            
            // Large Medium screens ...
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                // border: 10px solid lime;
            }

            // Medium Medium screens ...
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                // border: 10px solid blue;
            }

            // Small Medium screens ...
            @media (min-width: 576px) and (max-width: (768px - 1)) {
                // border: 10px solid turquoise;
            }

            // Smaller screens ...
            @media (max-width: (576px - 1px)) {
                // border: 10px solid chocolate;
            }
        }
    }

    @layer section-introduction {
        .section-introduction {
            .card {
                border: 1px solid var(--website-theme-light-yyyy-4);
            }
        }
    }

    @layer section-theme {
        .section-theme1 {
            background-color: var(--website-theme-light-yyyy-2);

            .card {
                background-color: var(--website-theme-light-yyyy-3);
            }
        }
    }

    @layer buttons {
        .btn-primary {
            color: var(--website-theme-light-yyyy-0);
            background-color: var(--website-theme-light-zzzz-0);
            border-color: var(--website-theme-light-zzzz-0);
        }

        .btn-secondary {
            color: var(--website-theme-light-yyyy-0);
            background-color: var(--website-theme-light-xxxx-2);
            border-color: var(--website-theme-light-xxxx-2); 
        }
    }

    @layer footer {
        .global-footer {
            background-color: var(--website-theme-light-xxxx-0);
        }
    }
// }
