:root {
    --website-section-intro-card-marg: 0 0 4px 0;

    // Special card
    --website-section-intro-card-padd: 30px 20px 20px 20px;
}

@layer best-work {
    .best-work-header {
        padding: 0 30% 0 0;
    }
}

@layer section-introduction {
    .section-introduction {
        .card-group {
            .card {
                margin: var(--website-section-intro-card-marg);

                .card-body {
                    padding: var(--website-section-intro-card-padd);
                }
            }
        }
    }
}

@layer section-skills {
    .section-skills {
        .section-skills__wrapper {
            display: grid;
            grid-template: 1fr / 1fr;
            gap: 4px;
        }
    }
}




