

:root {
    --website-hero-margin: 0 0 30px 0;
    --website-hero-height: 270px;
    --website-hero-deo-width: 300px;
    --website-hero-deo-persona-width: 80%;
    --website-hero-deo-glow-width: 200%;
    // speech bubble ..
    --website-hero-spbubble-left: 16%;
    --website-hero-spbubble-bottom: 18px;
    --website-hero-spbubble-width: 210px;
    --website-hero-spbubble-arrow-top: -50px;
    --website-hero-spbubble-arrow-left: 160px;
    --website-hero-spbubble-arrow-rotate: -50deg;
    --website-hero-spbubble-p-fsize: 1rem;
    --website-hero-spbubble-cta-marg: 3px;
}


@layer hero {
    .hero {
        position: relative;
        margin: var(--website-hero-margin);

        .hero-content-wrapper {
            display: flex;
            align-items: end;
            height: var(--website-hero-height);
            overflow: hidden;
        }

        .speech-bubble {
            position: absolute;
            z-index: 2;

            left: var(--website-hero-spbubble-left);
            bottom: var(--website-hero-spbubble-bottom);
            width: var(--website-hero-spbubble-width);

            p {
                font-size: var(--website-hero-spbubble-p-fsize);
            }

            // arrow
            &::before {
                top: var(--website-hero-spbubble-arrow-top);
                left: var(--website-hero-spbubble-arrow-left);
                rotate: var(--website-hero-spbubble-arrow-rotate);
            }

            a {
                display: inline-block;
                margin-top: var(--website-hero-spbubble-cta-marg);
                font-weight: bold;
                font-size: var(--website-hero-spbubble-p-fsize);

                &:hover {
                    text-decoration: none;
                }
            }

            p:last-of-type {
                margin: 0;
            }
        }

        .hero-decoration {
            position: relative;
            width: var(--website-hero-deo-width);
            margin-left: auto;
            margin-right: auto;

            .hero-persona {
                position: relative;
                z-index: 1;
                width: var(--website-hero-deo-persona-width);
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .hero-glow {
                position: absolute; 
                left: calc((var(--website-hero-deo-widt) / 2) - (var(--website-hero-deo-glow-width) / 2));
                left: calc(150px - 100%);
                width: var(--website-hero-deo-glow-width);
                bottom: 0;
            }
        }

        // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 10px solid purple;
            --website-hero-margin: 0 0 120px 0;
            --website-hero-height: 560px;
            --website-hero-deo-width: 530px;
            // speech bubble .. 
            --website-hero-spbubble-p-fsize: 1.3rem;
            --website-hero-spbubble-width: 290px;
            --website-hero-spbubble-left: 74%;
            --website-hero-spbubble-bottom: 180px;
            --website-hero-spbubble-cta-marg: 10px;
            // speech bubble arrow .. 
            --website-hero-spbubble-arrow-top: 0px;
            --website-hero-spbubble-arrow-left: -37px;
            --website-hero-spbubble-arrow-rotate: -70deg;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 10px solid violet;
            --website-hero-margin: 0 0 120px 0;
            --website-hero-height: 560px;
            --website-hero-deo-width: 530px;
            // speech bubble .. 
            --website-hero-spbubble-p-fsize: 1.3rem;
            --website-hero-spbubble-width: 290px;
            --website-hero-spbubble-left: 74%;
            --website-hero-spbubble-bottom: 180px;
            --website-hero-spbubble-cta-marg: 10px;
            // speech bubble arrow .. 
            --website-hero-spbubble-arrow-top: 0px;
            --website-hero-spbubble-arrow-left: -37px;
            --website-hero-spbubble-arrow-rotate: -70deg;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 10px solid lime;
            --website-hero-margin: 0 0 70px 0;
            --website-hero-height: 430px;
            --website-hero-deo-width: 400px;
            // speech bubble ..
            --website-hero-spbubble-left: 30%;
            --website-hero-spbubble-bottom: 60px;
            --website-hero-spbubble-cta-marg: 5px;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 10px solid blue;
            --website-hero-margin: 0 0 50px 0;
            --website-hero-height: 430px;
            --website-hero-deo-width: 400px;
            // speech bubble ..
            --website-hero-spbubble-left: 30%;
            --website-hero-spbubble-bottom: 60px;
        }

        // // Small Medium screens ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     // border: 10px solid turquoise;
        // }

        // // Smaller screens ...
        // @media (max-width: (576px - 1px)) {
        //     // border: 10px solid chocolate;
        // }
    }
}
