/**
 * - block-presentation-1
 * - list-of-social-icons
 * - list-items-inline
 * - list-items-inline
 *
**/

:root {
    --website-anchors-scrollto-top: -80px;
    --website-btnscrolltop-padding: 5px 10px;
    --website-btnscrolltop-font-size: 0.8rem;
    --website-btnscrolltop-right: 10px;
    --website-btnscrolltop-arrowdisplay: none;
}


@layer anchors-scrollto {
    section { // Setting all sections of the website to a relative positionning for now
        position: relative;
    }

    .anchors-scrollto {
        position: absolute;
        top: var(--website-anchors-scrollto-top); 


        display: block;
        width: 100px;
        height: 20px;


        // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 4px dashed purple;
            --website-anchors-scrollto-top: -160px;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 4px dashed violet;
            --website-anchors-scrollto-top: -160px;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 4px dashed lime;
            --website-anchors-scrollto-top: -140px;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 4px dashed blue;
            --website-anchors-scrollto-top: -130px;
        }

        // Small Medium screens ...
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            // border: 4px dashed turquoise;
        }

        // Smaller screens ...
        @media (max-width: (576px - 1px)) {
            // border: 4px dashed chocolate;
        }


    }
}


@layer btn-scroll-top {
    .btn-scroll-top {
        position: fixed;
        z-index: 999;
        bottom: 30px;
        padding: var(--website-btnscrolltop-padding);
        font-size: var(--website-btnscrolltop-font-size);
        right: var(--website-btnscrolltop-right);
        &::after {
            display: var(--website-btnscrolltop-arrowdisplay);
        }

        // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 10px solid purple;
            --website-btnscrolltop-padding: 10px 45px 10px 20px;
            --website-btnscrolltop-font-size: 1.2rem;
            --website-btnscrolltop-arrowdisplay: block;
            --website-btnscrolltop-right: 50px;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 10px solid violet;
            --website-btnscrolltop-padding: 10px 45px 10px 20px;
            --website-btnscrolltop-font-size: 1.2rem;
            --website-btnscrolltop-arrowdisplay: block;
            --website-btnscrolltop-right: 90px;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 10px solid lime;
            --website-btnscrolltop-padding: 10px 45px 10px 20px;
            --website-btnscrolltop-font-size: 1.2rem;
            --website-btnscrolltop-arrowdisplay: block;
            --website-btnscrolltop-right: 90px;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 10px solid blue;
            --website-btnscrolltop-padding: 10px 45px 10px 20px;
            --website-btnscrolltop-font-size: 1.2rem;
            --website-btnscrolltop-arrowdisplay: block;
        }

        // // Small Medium screens ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     border: 10px solid turquoise;
        // }

        // // Smaller screens ...
        // @media (max-width: (576px - 1px)) {
        //     border: 10px solid chocolate;
        // }
    }
}


@layer section-footer-cta {
    .section-footer-cta {
        margin: var(--website-section-footer-cta-marg);

        // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 10px solid purple;
            --website-section-footer-cta-marg: 35px 0 0 0;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 10px solid violet;
            --website-section-footer-cta-marg: 35px 0 0 0;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 10px solid lime;
            --website-section-footer-cta-marg: 30px 0 0 0;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 10px solid blue;
            --website-section-footer-cta-marg: 25px 0 0 0;
        }

        // // Small Medium screens ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     border: 10px solid turquoise;
        // }

        // // Smaller screens ...
        // @media (max-width: (576px - 1px)) {
        //     border: 10px solid chocolate;
        // }
    }
}



// .block-presentation-1,
// .has-dashed-lines li,
// .has-flat-icons li,
// .list-of-custom-icons li {
//     &::before, &::after {
//         content: "";
//         background-size: contain;
//     }
// }


// @layer block-presentation-1 {
//     .block-presentation-1 {
//         position: relative;

//         // Icon ...
//         &::before {
//             position: relative;
//             display: block;
//             content: '';
//             top: 0;
//             left: 0;
//             margin: var(--website-block-pres1-icon-dim-mrg);
//             width: var(--website-block-pres1-icon-dim);
//             height: var(--website-block-pres1-icon-dim);
//             background-repeat: no-repeat;
//         }

//         // left border
//         &::after {
//             position: absolute;
//             content: '';
//             top: 0;
//             left: 0;
//             width: 1px;
//             height: 100%;
//         }
//     }   
// }

// @layer list-of-social-icons {
//     .list-of-social-icons {
//         li {
//             position: relative;
//             a {
//                 // Shapping social links into squares and placing them right on top of target icons
//                 // (given that texts have been hidden)
//                 width: var(--website-list-social-icons-dim);
//                 height: var(--website-list-social-icons-dim);
//                 position: absolute;
//             }
    
//         }
//     }
// }

// @layer lists {
//     // Display a list of items horizontally ...
//     .list-items-inline {
//         display: flex;
//         li {
//             display: flex;
//         }

//         &.list-items-mr-10 {
//             li {
//                 margin: 0 10px 0 0!important;
//             }
//         }
//         &.list-items-mr-20 {
//             li {
//                 margin: 0 20px 0 0!important;
//             }
//         }
//     }


//     // Create a custom space between elements of a vertical list ...
//     .list-items-spacer {
//         &--20 {
//             li {
//                 margin-bottom: 20px;
//             }
//         }
//         &--30 {
//             li {
//                 margin-bottom: 30px;
//             }
//         }

//         li {
//             &:last-of-type {
//                 margin-bottom: 0;
//             }

//             p { // Make sure paragraphs don't generate extra bottom margins
//                 margin-bottom: 0;
//             }
//         }
//     }

//     // Hover state for both components
//     .list-of-social-icons,
//     .list-of-icons {
//         li {
//             &:hover {
//                 &::before, &::after {
//                     color: var(--website-clr-col3-ff7);
//                 }
//             }

//             a {
//                 &:hover {
//                     color: var(--website-clr-col1-accent-2)!important;
//                 }
//             }
//         }
//     }

//     .list-bullets-vert-align {
//         padding-left: 14px;
//     }
// }

// @layer icon-elements {
//     /**
//      * List that generates custom styles types. It can be a square block containing:
//      * - Custom icons (as background images)
//      * - Custom numbers
//     -----------------------------------------
//     */
//     .list-of-custom-icons {
//         padding-left: 8px;
//         list-style: none;

//         // Custom styles are created through list items' pseudo-elements
//         li { 
//             position: relative;
//             padding-left: 25px;
//             &:last-of-type {
//                 margin-bottom: 0;
//             }

//             // The pseudo-elements is a Square block with multiple options (umber, an icon, ...)
//             &::after { 
//                 content: "";
//                 display: block;
//                 position: absolute;
//                 top: -6px;
//                 left: -10px;
//                 padding: 17px 10px 20px 10px;
//                 font-size: 2.3rem;
//                 font-weight: 300;
//                 line-height: 1rem;
//             }
//         }

//         &.has-checked-icons {
//             li {
//                 padding-left: 35px;
//                 &::after {
//                     top: 0px;
//                     width: 30px;
//                     height: 30px;
//                     padding: 0;
//                 }
//             }
//         }

//         // [1] Extends the list to generate custom numbered styles whose attributes
//         // can be controlled (font-size, color, ...)
//         // -----------------------------------------
//         &.has-numbered-items {
//             li {
//                 padding-left: var(--website-list-hasnumbitems-paddleft);

//                 &::after {
//                     top: 1px;
//                     width: 40px;
//                     height: 40px;
//                     left: -7px; 
//                     font-size: 1.5rem;
//                     font-weight: 500;
//                     line-height: 0.3rem;
//                     text-indent: 3px;
//                 }

//                 &:nth-of-type(1) {
//                     &::after {
//                         content: "1"!important;
//                     }
//                 }
//                 &:nth-of-type(2) {
//                     &::after {
//                         content: "2"!important;
//                     }
//                 }
//                 &:nth-of-type(3) {
//                     &::after {
//                         content: "3"!important;
//                     }
//                 }
//             }
//         }

//         // [2] Extends the list to generate custom dashed line that connects all items
//         // ----------------------------------------- 
//         // -> CREATES A DOTTED LINE CONNECTING LIST ITEMS ...
//         &.has-dashed-lines {
//             position: relative;

//             &::before { // Vertically dashed line ...
//                 content: '';
//                 display: block;
//                 position: absolute;
//                 height: 100%;
//                 width: 3px;
//                 top: 6px;
//                 left: 18px;
//                 background-repeat: repeat;
//             }
//             li { 
//                 // Hidding dotted line for the last item of the list
//                 &:last-of-type {
//                     position: relative;
//                     &::before {
//                         display: block;
//                         position: absolute;
//                         height: 100%;
//                         width: 4px;
//                         top: 6px;
//                         left: 10.5px;
//                     }
//                 }
//             }
//         }

//         // [3] Extends the list to generate custom icon styles for each items
//         // (icons from the flaticon library)
//         // -----------------------------------------
//         &.has-flat-icons {
//             padding-left: 12px;

//             li {
//                 padding-left: 40px;

//                 &::after {
//                     top: 0;
//                     width: var(--website-icon-list-icon-dim);
//                     height: var(--website-icon-list-icon-dim);
//                 }
//             }
//         }

        

//         // Extra Large screens ...
//         @media (min-width: 1400px) {
//             // border: 3px solid purple;
//             --website-list-hasnumbitems-paddleft: 65px;
//         }
        
//         // Large screens ...
//         @media (min-width: 1200px) and (max-width: (1400px - 1)) {
//             // border: 3px solid violet;
//             --website-list-hasnumbitems-paddleft: 65px;
//         }
        
//         // Large Medium screens ...
//         @media (min-width: 992px) and (max-width: (1200px - 1)) {
//             // border: 3px solid lime;
//             --website-list-hasnumbitems-paddleft: 65px;
//         }

//         // Medium Medium screens ...
//         @media (min-width: 768px) and (max-width: (992px - 1)) {
//             // border: 3px solid blue;
//             --website-list-hasnumbitems-paddleft: 65px;
//         }

//         // // Small Medium screens ...
//         // @media (min-width: 576px) and (max-width: (768px - 1)) {
//         //     border: 3px solid turquoise;
//         // }

//         // // Smaller screens ...
//         // @media (max-width: (576px - 1px)) {
//         //     border: 3px solid chocolate;
//         // }
//     }

// }