:root {
    --website-a-color: inherit;
    --website-site-carousel-hover-state: 35%; 
    --website-site-carousel-btnprev-y: -66px; 
    --website-site-carousel-btnnext-y: -110px; 
    --website-site-carousel-item-gap: 0;

    --website-site-carousel-btnprev-x: 0px; // 60px;
    --website-site-carousel-btn-x: 0; //-10px;
    --website-site-carousel-btn-padd: 6px 8px 6px 13px;
    --website-site-carousel-btn-fontsize: 0.8rem;
    --website-site-carousel-btn-line-height: 25px;
}

/**
 * Basic decorator of the carousel component.
 * This class takes care of every styling uncovered by the Slick slider plugin
 * https://kenwheeler.github.io/slick/
*/

@layer site-carousel {
    .site-carousel { 
        list-style: none;    
        margin: 0;
        padding: 0;
        // margin-top: 120px;

        // [Carousel controls]
        // Move all button controls to the carousel top right, and align them horizontally
        // "Prev button" on the left, and "next button" on the right
        .slick-arrow  {
            position: absolute;
            top: var(--website-site-carousel-btnnext-y);
            right: var(--website-site-carousel-btn-x);
            z-index: 2;
            font-weight: bold;
            font-size: var(--website-site-carousel-btn-fontsize);
            line-height: var(--website-site-carousel-btn-line-height);
            padding: var(--website-site-carousel-btn-padd);

            // Next arrow icon

            &.slick-next {
                
                &:after {
                    content: '\F285';
                    font-family: bootstrap-icons!important;
                    color: #B31E7F;  
                    position: relative;
                    top: 3px;
                }
            }


            &.slick-prev {
                top: var(--website-site-carousel-btnprev-y);
                right: var(--website-site-carousel-btnprev-x);
               
                &:before
               {
                    content: '\F284';  
                    font-family: bootstrap-icons!important;
                    color: #B31E7F;
                    position: relative;
                    top: 3px;
                }
            }
            &.slick-disabled {
                opacity: 0.4;
                cursor: default;
            }
        }


        .site-carousel-item {
            a {
                position: relative;
                display: block;
                color: var(--website-a-color);
                text-decoration: none;

                // Overlay screen designed to blur the content on hover ...
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    opacity: 0; // hidden by default
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    transition: all 0.3s ease; // ensures a smooth transition
                }

                .hover-btn {
                    position: absolute;
                    z-index: 2;
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0 4px 90px rgba(0, 0, 0, 0.65);
                    top: 20%;
                    left: 30%;
                }
                
                &:hover { 
                    .hover-btn { // Reveal the CTA
                        visibility: visible;
                        opacity: 1;
                    }

                    &::before { // Partially hide the content
                        opacity: .7;
                    }
                }
            }

            &:nth-child(odd) {
                padding-right: var(--website-site-carousel-item-gap);
            }
            
            &:nth-child(even) {
                padding-left: var(--website-site-carousel-item-gap);
            }
        }

        // Extra Large screens ...
        @media (min-width: 1400px) {
            border: 10px solid purple;
            --website-site-carousel-btnnext-y: -70px;
            --website-site-carousel-item-gap: 60px;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            border: 10px solid violet;
            --website-site-carousel-btnnext-y: -80px;
            --website-site-carousel-item-gap: 60px;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            border: 10px solid lime;
            --website-site-carousel-btnnext-y: -70px;
            --website-site-carousel-item-gap: 40px;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            border: 10px solid blue;
            // --website-site-carousel-btnnext-y: 0px;
            --website-site-carousel-item-gap: 20px;
        }

        // Small Medium screens ...
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            border: 10px solid turquoise;
            // --website-site-carousel-btnnext-y: 0px;
        }

        // Smaller screens ...
        @media (max-width: (576px - 1px)) {
            border: 10px solid chocolate;
        }
    }

    
}