:root {
    --website-a-color: inherit;
    --website-site-carousel-hover-state: 35%;
    // --website-site-carousel-control-top: 3px;
    --website-site-carousel-control-top: -80px;
    --website-site-carousel-item-gap: 0;
}

/**
 * Basic decorator of the carousel component.
 * This class takes care of every styling uncovered by the Slick slider plugin
 * https://kenwheeler.github.io/slick/
*/

@layer site-carousel {
    .site-carousel { 
        list-style: none;    
        margin: 0;
        padding: 0;
        margin-top: 120px;

        // [Carousel controls]
        // Move all button controls to the carousel top right, and align them horizontally
        // "Prev button" on the left, and "next button" on the right
        .slick-arrow  {
            position: absolute;
            top: var(--website-site-carousel-control-top);
            right: 0;
            z-index: 2;
            border: 2px solid #B31E7F;
            font-size: 18px;
            line-height: 25px;
            background: none;
            padding: 11px 11px 11px 15px;

            // Next arrow icon

            // &.slick-next
            // {
            //     &:after{
            //         content: '\F285';    
            //     }
            // }


            &.slick-prev {
                right: 75px;
                padding: 11px 15px 11px 11px;
               
            //     &:before
            //    {
            //         content: '\F286';    
            //     }
            }
            &.slick-disabled {
                opacity: 0.4;
                cursor: default;
            }
        }


        .site-carousel-item {
            a {
                display: block;
                color: var(--website-a-color);
                text-decoration: none;

                .hover-btn
                {
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0 4px 90px rgba(0, 0, 0, 0.65);
                    top: 141px;
                    left: 30%;
                }
                
                &:hover{
                    h3, p, .badge{
                        opacity:var(--website-site-carousel-hover-state);
                    }

                    .hover-btn
                    {
                        visibility: visible;
                        opacity: 1;
                    }
                }


            }

            &:nth-child(odd) {
                padding-right: var(--website-site-carousel-item-gap);
            }
            
            &:nth-child(even) {
                padding-left: var(--website-site-carousel-item-gap);
            }
            
        }

        // Extra Large screens ...
        @media (min-width: 1400px) {
            border: 10px solid purple;
            --website-site-carousel-control-top: -70px;
            --website-site-carousel-item-gap: 60px;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            border: 10px solid violet;
            --website-site-carousel-control-top: -80px;
            --website-site-carousel-item-gap: 60px;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            border: 10px solid lime;
            --website-site-carousel-control-top: -70px;
            --website-site-carousel-item-gap: 40px;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            border: 10px solid blue;
            // --website-site-carousel-control-top: 0px;
            --website-site-carousel-item-gap: 20px;
        }

        // Small Medium screens ...
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            border: 10px solid turquoise;
            // --website-site-carousel-control-top: 0px;
        }

        // Smaller screens ...
        @media (max-width: (576px - 1px)) {
            border: 10px solid chocolate;
        }
    }

    
}