:root {
    --website-a-color: inherit;
    --website-text-decoration:none;
    --website-hover-state:35%;
}

/**
 * Basic decorator of the carousel component.
 * This class takes care of every styling uncovered by the Slick slider plugin
 * https://kenwheeler.github.io/slick/
*/

@layer site-carousel {
    .site-carousel { 
        list-style: none;    
        margin: 0;
        padding: 0;

        .site-carousel-item {
            a {
                color: var(--website-a-color);
                text-decoration: var(--website-text-decoration);
                // [***] remove text decoration

                &:hover{
                    h3, p, .badge{
                        opacity:var(--website-hover-state);
                    }
                }
            }
        }

        // .slick-arrow
        // {
        //     position: absolute;  
        //     top: -70px;          
        // }
        // .slick-prev
        // {
        //     right:75px
        // }



        // Extra Large screens ...
        @media (min-width: 1400px) {
            border: 10px solid purple;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            border: 10px solid violet;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            border: 10px solid lime;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            border: 10px solid blue;
        }

        // Small Medium screens ...
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            border: 10px solid turquoise;
        }

        // Smaller screens ...
        @media (max-width: (576px - 1px)) {
            border: 10px solid chocolate;
        }
    }
}